.header {
    background-color: rgb(0, 74, 170);
    padding: 20px;
 }
 
 h1 {
     text-align: center;
     color: rgb(17, 245, 195);
 }
 
 .bg-city {
     background-color: whitesmoke;
     padding: 10px;
 }
 
 .nav-item {
     font-size: 20px;
     margin-top: 10px;
     padding: 10px;
 }
 
 .weather-conditions {
     background-color: rgb(17, 245, 195);
     margin-top: 10px;
     margin-bottom: 20px;
     padding: 10px;
     border: 10px solid rgb(0, 74, 170);
 }
 
 .forecast {
     background-color: lightgrey;
     margin-top: 10px;
 }
 
.card {
    display: inline-block;
}